# Audio artifacts
*.mp3
*.wav

# IA Training artifacts
*.pt
*.spec.pt
*.tsv
*.log
piper_training_work/
piper_dataset_por_voz/

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
